/*esto es un cometario de css*/
/*
selector{
    propiedad:valor;
    propiedad valor;
}
*/

body{
    background-color: rgb(202, 233, 235);
}
h1{
    color:rgb(216, 93, 151)
}

tr{

    background-color: rgb(23, 201, 201);
}